@model IPagedList<UserViewModel>
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">Name</th>
            <th scope="col">Banned</th>
            <th scope="col">Ban</th>
            <th scope="col">Unban</th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {

        <tbody>
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.LockoutEnabled</td>
                <td>
                    <form class="form" method="post" asp-controller="Admin" asp-action="BanUsers" style="margin-bottom: 30px; margin-left: 20px">
                        <input type="hidden" name="UserId" value="@user.Id" />
                        <div class="form__buttons buttons">
                            <button type="submit">Ban user</button>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form" method="post" asp-controller="Admin" asp-action="UnbanUsers" style="margin-bottom:30px">
                        <input type="hidden" name="UserId" value="@user.Id" />
                        <div class="form__buttons buttons">
                            <button type="submit">Unban user</button>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    }



