@model IEnumerable<PlaylistViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div id="body">
    <div id="featured">
        <img src="~/images/the-beacon.jpg" alt="">
    </div>
    <p style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 20px;">Top 3 Playlists: </p>
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <a asp-controller="Playlists" asp-action="Playlist" asp-route-id="@item.Id">
                <span>@item.Title</span>
                <img src="@item.PixabayImage" style="width: 295px; height: 238px; filter: grayscale(100%);" alt="">
                <p>Duration: @item.DurationInHours</p>
                <p>Rank: @item.Rank</p>
            </a>
        </li>
        }

    </ul>
</div>
<div id="footer">
    <div>
        <p>&copy; 2020 by Team1. All rights reserved.</p>
        <ul>
            <li>
                <a href="#" id="twitter">twitter</a>
            </li>
            <li>
                <a href="#" id="facebook">facebook</a>
            </li>
            <li>
                <a href="#" id="googleplus">googleplus</a>
            </li>
            <li>
                <a href="#" id="pinterest">pinterest</a>
            </li>
        </ul>
    </div>
</div>