@model PlaylistGeneratorViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="bg-img">
</div>
<div class="container">
    <div class="d-flex flex-column align-items-center">
        <div class="">
            <form asp-controller="Playlists" asp-action="Create" method="post">
                <h1>PlaylistGenerator</h1>
                <div class="d-flex flex-column align-items-center card mt-5" style="background-color: limegreen;width:18rem;margin-top: 100px !important;">
                    <div class="card-body">
                        <h5 class="rounded" style="
                           position: absolute;
                           margin-top: -35px;
                           margin-left: -50px;
                           background: #28a745;
                           padding: 5px 10px;
                           color: #fff;
                            /*   /Must be in css folder*/
                          ">
                            Generate playlist
                        </h5>

                        <p class="card-text">Travel Information:</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="background-color: #c2ffb3" ;>From:</span>
                            </div>
                            <input asp-for="@Model.StartLocation" type="text" class="form-control" aria-describedby="button-addon2" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Map</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="background-color:#c2ffb3">To:</span>
                            </div>
                            <input asp-for="@Model.EndLocation" type="text" class="form-control" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Map</button>
                            </div>
                        </div>
                        <p class="card-text">Preferenses:</p>

                        <div class="form-group">
                            <input type="text" asp-for="@Model.PlaylistName">
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Metal" class="control-label"></label>
                            <input asp-for="@Model.Metal" class="form-control" value="0"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Rock" class="control-label"></label>
                            <input asp-for="@Model.Rock" class="form-control" value="0"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Pop" class="control-label"></label>
                            <input asp-for="@Model.Pop" class="form-control" value="0"/>
                        </div>

                    </div>
                    <p>Top tracks:</p>
                    @Html.EditorFor(x => x.TopTracks)
                    <p>Same artist:</p>
                    @Html.EditorFor(x => x.SameArtist)

                    <button type="submit" class="btn btn-primary"
                            style="position:absolute;
                       margin-top: 400px;
                           margin-right: -290px;
                           background: #28a745;
                           padding: 5px 10px;
                           color: #fff;

                        /*   /Must be in css folder*/

                      ">
                        Generate
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

