@model PlaylistGeneratorViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="d-flex flex-column align-items-center">
    <form asp-controller="Playlists" asp-action="Create" method="post">
        <div class="d-flex flex-column align-items-center card mt-5" style="background-color: limegreen;width:25rem;margin-top: 100px !important;">
            <div class="card-body">
                <h5 class="rounded" style="
                           position: absolute;
                           margin-top: -35px;
                           margin-left: -50px;
                           background: #28a745;
                           padding: 5px 10px;
                           color: #fff;
                          ">
                    Generate playlist
                </h5>


                <p class="card-text">Travel Information:</p>
                <div class="input-group mb-3">
                    <p class="input-group-text">From:</p>
                    <input asp-for="@Model.StartLocation" type="text" id="search_input" class="form-control" aria-describedby="button-addon2" required />

                    <span asp-validation-for="@Model.StartLocation" class="text-danger"></span>
                </div>


                <div class="input-group mb-3">
                    <p class="input-group-text">To:</p>
                    <input asp-for="@Model.EndLocation" id="search_input2" type="text" class="form-control" aria-describedby="button-addon2" required>

                    <span asp-validation-for="@Model.EndLocation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.PlaylistName"></label>
                    <input asp-for="@Model.PlaylistName" class="form-control" required />
                    <span asp-validation-for="@Model.PlaylistName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Metal" class="control-label"></label>
                    <input asp-for="@Model.Metal" class="form-control" value="0" required />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Rock" class="control-label"></label>
                    <input asp-for="@Model.Rock" class="form-control" value="0" required />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Pop" class="control-label"></label>
                    <input asp-for="@Model.Pop" class="form-control" value="0" required />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Chalga" class="control-label"></label>
                    <input asp-for="@Model.Chalga" class="form-control" required />
                </div>

            </div>
            <div>
                <span>Top tracks:</span>
                @Html.EditorFor(x => x.TopTracks)
                <span>Same artist:</span>
                @Html.EditorFor(x => x.SameArtist)
            </div>
            <button type="submit" class="btn btn-primary"
                    style="position:relative;
                           background: #28a745;
                           padding: 5px 10px;
                           color: #fff;
                      ">
                Generate
            </button>
        </div>
    </form>
</div>

<div id="sliders">
    <input type="range" class="slider" />
    <input type="range" class="slider" />
    <input type="range" class="slider" />
    <input type="range" class="slider" />
</div>



<script>

    var sliders = $("#sliders .slider");

    sliders.each(function () {
        var value = parseInt($(this).text(), 10),
            availableTotal = 400;

        $(this).empty().slider({
            value: 0,
            min: 0,
            max: 400,
            range: "max",
            step: 10,
            slide: function (event, ui) {
                // Update display to current value
                $(this).siblings().text(ui.value);

                // Get current total
                var total = 0;

                sliders.not(this).each(function () {
                    total += $(this).slider("option", "value");
                });

                // Need to do this because apparently jQ UI
                // does not update value until this event completes
                total += ui.value;

                var max = availableTotal - total;

                // Update each slider
                sliders.not(this).each(function () {
                    var t = $(this),
                        value = t.slider("option", "value");

                    t.slider("option", "max", max + value)
                        .siblings().text(value + '/' + (max + value));
                    t.slider('value', value);
                });
            }
        });
    });
















    var searchInput = 'search_input';
    var searchInput2 = 'search_input2';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
        });
    });


    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput2)), {
            types: ['geocode'],
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
        });
    });
</script>
