@inject IJsonHelper Json
@model PlaylistViewModel

<div class="baseGrid">
    <div class="aboutPlaylist">
        <div class="aboutWrapper">
            <div>
                <h1>@Model.Title</h1>
                <div class="album-name2Playlist">
                    <p><ion-icon name="radioPlaylist"></ion-icon> &nbsp;<span>By: @Model.CreatorName</span></p>

                    <p><ion-icon name="radioPlaylist"></ion-icon> &nbsp;<span>Rank: @Model.Rank</span></p>
                </div>
            </div>
            <div style="display:flex; flex-direction: column;">
                @if (ViewBag.LoggedUserId != null && ViewBag.LoggedUserId == Model.UserId)
                {


                    <a asp-action="Edit" asp-route-id="@Model.Id">|Edit|</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <form class="form" method="post" asp-controller="Playlists" asp-action="DeletePlaylist" style="margin-bottom:30px">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="form__buttons buttons">
                            <button type="submit">Delete</button>
                        </div>
                    </form>
                }
            </div>
        </div>
        <div class="pages">
            @for (int i = 0; i < Model.SongsPaged.PageCount; i++)
            {
                var num = i + 1;

                <a href="#" onclick="LoadPlaylistPage(@Model.Id, @num)">@num</a>
            }
        </div>
        <div id="playlistInfo">
            <table class="table table-striped">
                <partial name="_PlaylistDetails" model="Model.SongsPaged">
            </table>
        </div>
    </div>

    <div class="right-column">
        <div id="dz-root"></div>
        <div id="player"></div>
    </div>
</div>


<script>

function LoadPlaylistPage(id, pageNumber) {
        var url = '@Url.Action("Playlist","Playlists")' + '?id=' + id + '&pageNumber=' + pageNumber;

        $.get(url, function (response) {
            var result = $(response).find('#playlistInfo');

            $('#playlistInfo').html(result);
        });
    }

    $(document).ready(function () {

        $("#controlers input").attr('disabled', true);
        $("#slider_seek").click(function (evt, arg) {
            var left = evt.offsetX;
            DZ.player.seek((evt.offsetX / $(this).width()) * 100);
        });
    });

    function event_listener_append() {
        var pre = document.getElementById('event_listener');
        var line = [];
        for (var i = 0; i < arguments.length; i++) {
            line.push(arguments[i]);
        }
        pre.innerHTML += line.join(' ') + "\n";
    }

    function onPlayerLoaded() {
            DZ.player.playTracks(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DeezerIDs) as String), false);
        $("#controlers input").attr('disabled', false);
        event_listener_append('player_loaded');
        DZ.Event.subscribe('current_track', function (arg) {
            event_listener_append('current_track', arg.index, arg.track.title, arg.track.album.title);
        });
        DZ.Event.subscribe('player_position', function (arg) {
            event_listener_append('position', arg[0], arg[1]);
            $("#slider_seek").find('.bar').css('width', (100 * arg[0] / arg[1]) + '%');
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        DZ.init({
            appId: '8',
            channelUrl: 'https://developers.deezer.com/examples/channel.php',
            player: {
                container: 'player',
                playlist: true,
                width:  957,
                height: 760,
                onload: onPlayerLoaded
            }
        });
    });


    TweenMax.from(".aboutPlaylist", 1, {
        delay: 0.2,
        y: 20,
        opacity: 0,
        ease: Expo.easeInOut
    })

    TweenMax.from(".album-name2Playlist", 2, {
        delay: 1.5,
        y: 20,
        opacity: 0,
        ease: Expo.easeInOut
    })

    TweenMax.from(".right-column", 1, {
        delay: 0.2,
        y: 20,
        opacity: 0,
        ease: Expo.easeInOut
    })
</script>

